
<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' id='armor-fonts-css'  href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C800%2C800i&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='armor-style-css'  href={{ url_for('static', filename="style5010.css")}} type='text/css' media='all' />


  </head>

  <body>
    

  <section class='our-team'>
          <div class='team-member'>
        <div class='team-member__wrapper'>
          <div class='team-member__image' style='background: url(static/LRM_EXPORT_20180102_113720.jpg) no-repeat top center / cover;'></div>
          <div class='team-member__info'>
            <h2 class='title--red'>Front-End Developer</h2>
            <h1>Sarthak Agrawal</h1>
            <p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
        </div>
      </div>
          <div class='team-member'>
        <div class='team-member__wrapper'>
          <div class='team-member__image' style='background: url(./shubham.jpg) no-repeat top center / cover;'></div>
          <div class='team-member__info'>
            <h2 class='title--red'>Back-end Develpoer</h2>
            <h1>Shubham Kumar Tiwari</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
        </div>
      </div>
          <div class='team-member'>
        <div class='team-member__wrapper'>
          <div class='team-member__image' style='background: url(./ashree.jpeg) no-repeat top center / cover;'></div>
          <div class='team-member__info'>
            <h2 class='title--red'>Back-End Developer</h2>
            <h1>Ashree Jain</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
        </div>
      </div>
          <div class='team-member'>
        <div class='team-member__wrapper'>
          <div class='team-member__image' style='background: url(./arya.jpeg) no-repeat top center / cover;'></div>
          <div class='team-member__info'>
            <h2 class='title--red'>Front-End Developer</h2>
            <h1>Arya Gupta</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
        </div>
     
      </section>
    </main>


  </body>
</html>