/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-mark-web:
 *   - http://typekit.com/eulas/0000000000000000000164c6
 *   - http://typekit.com/eulas/0000000000000000000164c8
 *   - http://typekit.com/eulas/0000000000000000000164ca
 *   - http://typekit.com/eulas/0000000000000000000164d0
 *   - http://typekit.com/eulas/0000000000000000000164d2
 * freight-text-pro:
 *   - http://typekit.com/eulas/000000000000000000012059
 *   - http://typekit.com/eulas/00000000000000000001205a
 *   - http://typekit.com/eulas/00000000000000000001205b
 *   - http://typekit.com/eulas/000000000000000000012106
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-11-04 15:35:51 UTC"}*/

@import url("../p.typekit.net/p5f50.css?s=1&amp;k=apq6esv&amp;ht=tk&amp;f=13464.13465.13466.13468.22204.22206.22208.22212.22215&amp;a=234724&amp;app=typekit&amp;e=css");

@font-face {
font-family:"freight-text-pro";
src:url("af/ac6334/000000000000000000012059/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/ac6334/000000000000000000012059/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/ac6334/000000000000000000012059/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"freight-text-pro";
src:url("af/5464d5/00000000000000000001205a/27/lfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/5464d5/00000000000000000001205a/27/dfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/5464d5/00000000000000000001205a/27/afdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"freight-text-pro";
src:url("af/04ec74/00000000000000000001205b/27/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/04ec74/00000000000000000001205b/27/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/04ec74/00000000000000000001205b/27/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"freight-text-pro";
src:url("af/1aea0d/000000000000000000012106/27/l3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("woff2"),url("af/1aea0d/000000000000000000012106/27/d3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("woff"),url("af/1aea0d/000000000000000000012106/27/a3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"ff-mark-web";
src:url("af/7d3178/0000000000000000000164c6/27/lc150?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n9&amp;v=3") format("woff2"),url("af/7d3178/0000000000000000000164c6/27/dc150?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n9&amp;v=3") format("woff"),url("af/7d3178/0000000000000000000164c6/27/ac150?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n9&amp;v=3") format("opentype");
font-style:normal;font-weight:900;
}

@font-face {
font-family:"ff-mark-web";
src:url("af/233b59/0000000000000000000164c8/27/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/233b59/0000000000000000000164c8/27/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/233b59/0000000000000000000164c8/27/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-mark-web";
src:url("af/520c05/0000000000000000000164ca/27/le003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff2"),url("af/520c05/0000000000000000000164ca/27/de003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff"),url("af/520c05/0000000000000000000164ca/27/ae003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"ff-mark-web";
src:url("af/5b100b/0000000000000000000164d0/27/l7238?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n8&amp;v=3") format("woff2"),url("af/5b100b/0000000000000000000164d0/27/d7238?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n8&amp;v=3") format("woff"),url("af/5b100b/0000000000000000000164d0/27/a7238?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n8&amp;v=3") format("opentype");
font-style:normal;font-weight:800;
}

@font-face {
font-family:"ff-mark-web";
src:url("af/f63ea2/0000000000000000000164d2/27/l3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("woff2"),url("af/f63ea2/0000000000000000000164d2/27/d3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("woff"),url("af/f63ea2/0000000000000000000164d2/27/a3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("opentype");
font-style:normal;font-weight:300;
}

.tk-freight-text-pro { font-family: "freight-text-pro",sans-serif; }
.tk-ff-mark-web { font-family: "ff-mark-web",sans-serif; }
