

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

figcaption,
figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}



html,
body {
	width: 100%;
	height: 100%
}

body {
	font-family: "ff-mark-web", "Helvetica", Arial, sans-serif;
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 1.5;
	font-weight: 300;
	color: #36383F;
	text-align: left;
	background: #fff
}

body.preload * {
	-webkit-transition: none !important;
	transition: none !important
}

@media (max-width: 768px) {
	.no-scroll {
		max-height: 100vh;
		overflow: hidden
	}
}

a:link {
	color: #36383F;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	text-decoration: none
}

a:visited {
	color: inherit
}

a:active {
	color: inherit
}

a:hover {
	color: #D44A31;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out
}

.container {
	overflow: hidden
}

@media (max-width: 768px) {
	.container {
		padding-top: 90px
	}
}

h1 {
	font-family: "freight-text-pro", "Times New Roman", Georgia, serif;
	font-size: 60px;
	font-size: 3.75rem;
	line-height: 1;
	font-weight: 300;
	margin: 0
}

@media (max-width: 1000px) {
	h1 {
		font-size: 48px;
		font-size: 3rem;
		line-height: 1
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 36px;
		font-size: 2.25rem;
		line-height: 1.1
	}
}

h1.title--light {
	color: #fff
}

h2 {
	font-size: 11px;
	font-size: .6875rem;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 0
}

h2.title--gray {
	color: #b5b7bf
}

h2.title--red {
	color: #D44A31
}

h3 {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1.1;
	font-weight: 800;
	letter-spacing: -2px;
	margin: 0
}

h4 {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1;
	font-weight: 800;
	letter-spacing: -1.5px;
	margin-bottom: 15px
}

h5 {
	font-family: "freight-text-pro", "Times New Roman", Georgia, serif;
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 300
}

header.visible .logo svg polygon {
	opacity: 1
}

header.visible .logo .wordmark {
	opacity: 1
}

header.visible .desktop {
	opacity: 1
}

header.visible .menu-button {
	opacity: 1
}

.overview.visible h2 {
	opacity: 1
}

.overview.visible .divider {
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}

.overview.visible .word-wrap {
	opacity: 1
}

.overview.visible .word-wrap.active .word-wrap__wrapper span {
	-webkit-animation: quoteSlides 5000ms cubic-bezier(0.86, 0, 0.07, 1.15) forwards;
	animation: quoteSlides 5000ms cubic-bezier(0.86, 0, 0.07, 1.15) forwards
}

.our-work.visible {
	opacity: 1
}

.introduction.visible .divider:before,
.introduction.visible .divider:after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.introduction.visible .word-wrap__wrapper span {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}

.introduction.visible h1,
.introduction.visible p,
.introduction.visible .our-services,
.introduction.visible .our-network,
.introduction.visible .introduction__wrapper .btn {
	opacity: 1
}

.project-overview__intro.visible:after {
	opacity: 1
}

.project-overview__intro.visible h2 .word-wrap__wrapper span {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}

.project-overview__intro.visible p {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}

@-webkit-keyframes quoteSlides {
	0%,
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		opacity: .25
	}
	25%,
	60% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	99% {
		-webkit-transform: translate3d(0, -120%, 0);
		transform: translate3d(0, -120%, 0);
		opacity: .25
	}
}

@keyframes quoteSlides {
	0%,
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		opacity: .25
	}
	25%,
	60% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	99% {
		-webkit-transform: translate3d(0, -120%, 0);
		transform: translate3d(0, -120%, 0);
		opacity: .25
	}
}

@-webkit-keyframes progressBar {
	0%,
	89% {
		-webkit-transform-origin: center left;
		transform-origin: center left
	}
	90%,
	100% {
		-webkit-transform-origin: center right;
		transform-origin: center right
	}
	90% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0)
	}
}

@keyframes progressBar {
	0%,
	89% {
		-webkit-transform-origin: center left;
		transform-origin: center left
	}
	90%,
	100% {
		-webkit-transform-origin: center right;
		transform-origin: center right
	}
	90% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0)
	}
}

header {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 150;
	padding: 100px 100px 50px;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1)
}

@media (min-width: 1600px) {
	header {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		padding: 100px 100px 50px
	}
}

@media (max-width: 1000px) {
	header {
		padding: 100px 50px 50px
	}
}

@media (max-width: 768px) {
	header {
		padding: 30px;
		position: fixed
	}
}

@media (max-width: 768px) {
	header.mobile-menu--open {
		background-color: rgba(250, 250, 250, 0.75)
	}
}

.header--homepage .logo polygon,
.header--homepage .wordmark,
.header--homepage .desktop {
	opacity: 0
}

.headroom--pinned {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.headroom--unpinned {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%)
}

.logo {
	width: 142px;
	height: 32px;
	display: block;
	margin-right: auto
}

.logo:hover {
	opacity: .85;
	-webkit-transform: scale(1.02);
	transform: scale(1.02)
}

.logo svg {
	width: 100%;
	height: 100%
}

.logo svg polygon {
	-webkit-transition: opacity 700ms ease-in-out;
	transition: opacity 700ms ease-in-out
}

.logo svg polygon:nth-child(odd) {
	fill: #D44A31
}

.logo svg polygon:nth-child(even) {
	fill: #AB3F30
}

.logo svg polygon:nth-child(2) {
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms
}

.logo svg polygon:nth-child(3) {
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms
}

.logo svg polygon:nth-child(4) {
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms
}

.logo svg polygon:nth-child(5) {
	-webkit-transition-delay: 250ms;
	transition-delay: 250ms
}

.logo svg polygon.logo--bg {
	fill: #D44A31;
	-webkit-transition-delay: 700ms;
	transition-delay: 700ms
}

.logo svg .wordmark {
	fill: #36383F;
	-webkit-transition: opacity 800ms ease-in-out;
	transition: opacity 800ms ease-in-out;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms
}

.desktop {
	margin-top: 12px;
	-webkit-transition: all 800ms ease-in-out;
	transition: all 800ms ease-in-out;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms
}

@media (max-width: 768px) {
	.desktop {
		display: none
	}
}

.desktop ul {
	list-style-type: none
}

.desktop ul li {
	display: inline-block;
	margin-left: 50px
}

.desktop ul li:first-of-type {
	margin-left: 0
}

.desktop ul li:first-of-type a:after {
	content: '\e900';
	font-size: 3px;
	font-family: 'ArmorIcons';
	display: inline-block;
	margin-left: 6px;
	top: -3px;
	position: relative;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: -webkit-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out
}

.desktop ul li.current-menu-item a {
	color: #D44A31
}

.desktop ul li a {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1;
	font-weight: 800;
	color: rgba(54, 56, 63, 0.5);
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 15px 5px
}

.desktop ul li a:hover {
	color: #D44A31
}

.page-template-work .menu-item-49 a {
	color: #D44A31
}

.menu-item-49 a.dropdown-menu--open:after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg)
}

.menu-button {
	top: 40px;
	right: 30px;
	position: absolute;
	width: 24px;
	height: 12px;
	cursor: pointer;
	display: none;
	opacity: 0;
	-webkit-tap-highlight-color: none;
	-webkit-transition: opacity 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: opacity 500ms cubic-bezier(0.86, 0, 0.07, 1)
}

@media (max-width: 768px) {
	.menu-button {
		display: block
	}
}

.menu-button:hover .bar {
	background: #D44A31
}

.bar {
	height: 2px;
	background: #36383F;
	position: absolute;
	-webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1)
}

.bar--top {
	width: 50%;
	top: 0
}

.bar--bottom {
	width: 50%;
	bottom: 0
}

.bar--left {
	left: 0
}

.bar--right {
	right: 0
}

.bar--top.bar--left {
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%
}

.bar--top.bar--right {
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%
}

.bar--bottom.bar--left {
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%
}

.bar--bottom.bar--right {
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%
}

.menu-button--active .bar--top.bar--left {
	-webkit-transform: translate(6px, 0) rotate(45deg);
	transform: translate(6px, 0) rotate(45deg)
}

.menu-button--active .bar--top.bar--right {
	-webkit-transform: translate(-7px, 0) rotate(-45deg);
	transform: translate(-7px, 0) rotate(-45deg)
}

.menu-button--active .bar--bottom.bar--left {
	-webkit-transform: translate(6px, 2px) rotate(-45deg);
	transform: translate(6px, 2px) rotate(-45deg)
}

.menu-button--active .bar--bottom.bar--right {
	-webkit-transform: translate(-7px, 2px) rotate(45deg);
	transform: translate(-7px, 2px) rotate(45deg)
}

footer {
	width: calc(100% - 200px);
	height: auto;
	background-color: #fff;
	padding: 50px 0 60px;
	margin: 50px auto 0;
	border-top: 1px solid #d0d2d7;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

@media (min-width: 1600px) {
	footer {
		width: 1400px
	}
}

@media (max-width: 1000px) {
	footer {
		width: calc(100% - 100px)
	}
}

@media (max-width: 768px) {
	footer {
		width: calc(100% - 60px)
	}
}

@media (max-width: 600px) {
	footer {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
}

.footer__copyright {
	list-style-type: none;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media (max-width: 600px) {
	.footer__copyright {
		width: 50%
	}
}

.footer__copyright li {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.4;
	display: inline-block;
	overflow: hidden
}

.footer__copyright li.logo--footer a {
	width: 32px;
	padding-top: 5px;
	display: block
}

.footer__copyright li.logo--footer a:hover svg {
	fill: #D44A31
}

.footer__copyright li.logo--footer a svg {
	max-width: 100%;
	height: auto;
	fill: #36383F;
	-webkit-transition: fill 250ms ease-in-out;
	transition: fill 250ms ease-in-out
}

.footer__copyright li span {
	font-weight: 700
}

.footer__links {
	list-style-type: none;
	margin-right: 150px
}

@media (max-width: 1000px) {
	.footer__links {
		margin-right: 100px
	}
}

@media (max-width: 768px) {
	.footer__links {
		margin-right: 50px
	}
}

@media (max-width: 600px) {
	.footer__links {
		width: 50%;
		margin-right: 0;
		margin-top: 40px;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}
}

.footer__links li {
	margin-bottom: 8px
}

.footer__links li:last-of-type {
	margin-bottom: 0
}

.footer__contact {
	list-style-type: none;
	margin-right: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media (max-width: 600px) {
	.footer__contact {
		width: 50%;
		margin-right: 0;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
}

@media (max-width: 600px) {
	.footer__contact li:first-of-type {
		margin-bottom: 25px
	}
}

.footer__contact li:last-of-type {
	font-weight: 700;
	line-height: 1.4
}

.footer__contact a {
	display: block
}

.footer__social {
	list-style-type: none
}

@media (max-width: 600px) {
	.footer__social {
		width: 50%;
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
		margin-top: 40px
	}
}

@media (max-width: 600px) {
	.footer__social li {
		margin-bottom: 8px
	}
}

@media (max-width: 600px) {
	.footer__social li:last-of-type {
		margin-bottom: 0
	}
}

.footer__social li.twitter:hover a {
	color: #1DA1F2
}

.footer__social li.facebook:hover a {
	color: #3B5998
}

.footer__social li.instagram:hover a {
	color: #5851DB
}

.btn {
	border-radius: 2px;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1;
	font-weight: 800;
	padding: 15px 20px 14px;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1)
}

.btn:after {
	content: '\e901';
	font-family: 'ArmorIcons';
	font-weight: normal;
	font-size: 5px;
	margin-left: 10px;
	display: inline-block;
	top: -2px;
	position: relative;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out
}

.btn--outline {
	border-width: 1px;
	border-style: solid;
	border-color: #36383F
}

.btn--outline:hover {
	background-color: #36383F;
	border-color: #36383F;
	color: #fff;
	-webkit-box-shadow: 0 10px 30px -10px rgba(54, 56, 63, 0.4);
	box-shadow: 0 10px 30px -10px rgba(54, 56, 63, 0.4)
}

.btn--outline:hover:after {
	color: #fff;
	-webkit-transform: translate3d(4px, 0, 0);
	transform: translate3d(4px, 0, 0)
}

.btn--outline:after {
	color: #36383F
}

.btn--outline-white {
	border-color: #fff;
	color: #fff
}

.btn--text {
	padding: 0
}

.btn--text:hover:after {
	color: #D44A31;
	-webkit-transform: translate3d(4px, 0, 0);
	transform: translate3d(4px, 0, 0)
}

.btn--text-reversed:before {
	content: '\e901';
	font-family: 'ArmorIcons';
	font-weight: normal;
	font-size: 5px;
	margin-right: 10px;
	display: inline-block;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	top: -2px;
	position: relative;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out
}

.btn--text-reversed:hover:before {
	color: #D44A31;
	-webkit-transform: rotate(180deg) translate3d(4px, 0, 0);
	transform: rotate(180deg) translate3d(4px, 0, 0)
}

.btn--text-reversed:after {
	display: none
}

.btn--text-white:after {
	color: #fff
}

.btn--text-white:hover:after {
	color: #fff;
	-webkit-transform: translate3d(4px, 0, 0);
	transform: translate3d(4px, 0, 0)
}

.introduction {
	width: calc(100% - 200px);
	height: auto;
	max-width: 1050px;
	margin: 100px auto 150px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

@media (max-width: 1000px) {
	.introduction {
		width: calc(100% - 100px)
	}
}

@media (max-width: 768px) {
	.introduction {
		width: calc(100% - 60px);
		margin-bottom: 75px
	}
}

@media (max-width: 600px) {
	.introduction {
		margin-top: 50px
	}
}

.introduction .divider {
	width: 20%;
	height: 1px;
	margin-right: auto;
	top: 35px;
	position: relative;
	overflow: hidden;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%
}

@media (max-width: 768px) {
	.introduction .divider {
		display: none
	}
}

.introduction .divider:before,
.introduction .divider:after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1)
}

.introduction .divider:before {
	background-color: #d0d2d7
}

.introduction .divider:after {
	background-color: #D44A31;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	-webkit-transition-delay: 300ms;
	transition-delay: 300ms
}

.introduction h1 {
	opacity: 0
}

.introduction__wrapper {
	width: 65%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 70%;
	flex: 0 0 70%
}

@media (max-width: 768px) {
	.introduction__wrapper {
		width: 100%;
		-webkit-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
		text-align: center;
		margin: 0 auto
	}
}

.introduction__wrapper p {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.6;
	margin-top: 20px;
	opacity: 0;
	-webkit-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms
}

@media (max-width: 768px) {
	.introduction__wrapper p {
		font-size: 17px;
		font-size: 1.0625rem;
		line-height: 1.6
	}
}

.introduction--404 p {
	font-size: 20px;
	font-size: 1.25rem
}

.introduction--404 p:before {
	content: '😳';
	display: block;
	font-size: 120px;
	font-size: 7.5rem
}

.introduction--404 p a {
	color: #D44A31
}

.introduction--404 p a:hover {
	color: #36383F
}

.word-wrap__wrapper {
	overflow: hidden;
	display: inline-block;
	padding-bottom: 8px;
	padding-right: 5px;
	margin-bottom: -8px;
	margin-right: -5px
}

.word-wrap__wrapper span {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	display: block;
	opacity: 0;
	-webkit-transition: all 700ms cubic-bezier(0.14, 0.85, 0.59, 1.17);
	transition: all 700ms cubic-bezier(0.14, 0.85, 0.59, 1.17);
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms
}

.dropdown-menu {
	width: 100%;
	height: 500px;
	top: 175px;
	position: absolute;
	z-index: 100;
	opacity: 0;
	background-color: #FAFAFA;
	overflow: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: opacity 1200ms ease-in-out, -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: opacity 1200ms ease-in-out, -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1), opacity 1200ms ease-in-out;
	transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1), opacity 1200ms ease-in-out, -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1)
}

@media (max-width: 768px) {
	.dropdown-menu {
		display: none
	}
}

.dropdown-menu--open {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-transition: opacity 10ms ease-in-out, -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: opacity 10ms ease-in-out, -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1), opacity 10ms ease-in-out;
	transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1), opacity 10ms ease-in-out, -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1)
}

.dropdown-menu__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%
}

@media (min-width: 1600px) {
	.dropdown-menu__wrapper {
		position: absolute;
		max-width: 1400px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
}

.dropdown-menu__overview {
	height: 500px;
	margin-right: auto;
	padding: 100px 100px 50px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	-webkit-transition-delay: 250ms;
	transition-delay: 250ms
}

@media (min-width: 1600px) {
	.dropdown-menu__overview {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-left: 0
	}
}

@media (max-width: 1000px) {
	.dropdown-menu__overview {
		padding: 50px
	}
}

.dropdown-menu__overview h3:after {
	content: '';
	width: 75px;
	height: 1px;
	display: block;
	background-color: #D44A31;
	margin-top: 40px
}

.dropdown-menu__overview .btn {
	display: table
}

.dropdown-menu__projects {
	height: 500px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 70%;
	flex: 1 1 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.dropdown-menu__projects .project:hover .project__image--grayscale {
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.dropdown-menu__projects .project:nth-child(1) {
	width: 50%;
	height: 100%;
	margin-bottom: 0
}

@media (max-width: 1000px) {
	.dropdown-menu__projects .project:nth-child(1) {
		width: 100%;
		height: 33.33333%
	}
}

.dropdown-menu__projects .project__info h3 {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

@media (max-width: 1000px) {
	.dropdown-menu__projects .project__info h3 {
		font-size: 36px;
		font-size: 2.25rem
	}
}

.dropdown-menu__projects .project__info p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.dropdown-menu__projects .project__info .btn {
	opacity: 1
}

.dropdown-menu__projects .project__image--color {
	opacity: 0
}

.dropdown-menu__projects--small {
	width: 50%
}

@media (max-width: 1000px) {
	.dropdown-menu__projects--small {
		width: 100%;
		height: 100%
	}
}

.dropdown-menu__projects--small .project:nth-child(1),
.dropdown-menu__projects--small .project:nth-child(2) {
	width: 100%;
	height: 50%;
	margin-right: 0;
	margin-bottom: 0
}

@media (max-width: 1000px) {
	.dropdown-menu__projects--small .project:nth-child(1),
	.dropdown-menu__projects--small .project:nth-child(2) {
		height: 33.33333%
	}
}

.mobile-menu {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #FAFAFA;
	z-index: 90;
	opacity: 0;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	visibility: hidden;
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	overflow: scroll;
	-webkit-overflow-scrolling: touch
}

@media (max-width: 768px) {
	.mobile-menu--open {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
		transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1)
	}
}

.mobile {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 50px 30px 0
}

@media (max-height: 600px) {
	.mobile {
		display: block;
		padding: 150px 30px 100px;
		height: auto
	}
}

.mobile ul {
	list-style-type: none;
	text-align: right;
	width: 100%
}

.mobile ul li {
	margin-bottom: 15px
}

.mobile ul li:last-of-type:after {
	display: none
}

.mobile ul li.current-menu-item a {
	color: #D44A31
}

.mobile ul li a {
	font-family: "freight-text-pro", "Times New Roman", Georgia, serif;
	font-size: calc(42px + (72 - 42) * (100vw - 375px) / (1600 - 375));
	padding: 15px 0
}

.mobile ul li a:hover {
	color: #D44A31
}

.overview {
	top: 80px;
	position: relative;
	width: 100%;
	height: calc(100vh - 175px);
	max-width: 800px;
	margin: 0 auto;
	text-align: center
}

@media (min-height: 800px) {
	.overview {
		height: 500px
	}
}

@media (max-height: 600px) {
	.overview {
		height: 500px
	}
}

@media (max-width: 1200px) {
	.overview {
		height: 400px
	}
}

@media (max-width: 1000px) {
	.overview {
		width: calc(100% - 100px)
	}
}

@media (max-width: 768px) {
	.overview {
		width: calc(100% - 60px);
		height: 450px;
		padding: 30px 30px 40px
	}
}

@media (max-width: 600px) {
	.overview {
		height: 375px;
		padding: 0 30px
	}
}

.overview h2 {
	opacity: 0;
	-webkit-transition: opacity 800ms ease-in-out;
	transition: opacity 800ms ease-in-out;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms
}

.overview h2 strong {
	font-weight: 800;
	color: #D44A31
}

.overview .word-wrap {
	left: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	min-width: 100%;
	opacity: 0
}

.overview .word-wrap.initial .word-wrap__wrapper span {
	-webkit-animation-delay: 1150ms !important;
	animation-delay: 1150ms !important
}

.overview .word-wrap__wrapper span {
	-webkit-transition-delay: 0s;
	transition-delay: 0s
}

.overview .divider {
	width: 30px;
	height: 1px;
	background-color: #d0d2d7;
	display: block;
	margin: 22px auto 18px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: -webkit-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
	-webkit-transition-delay: 650ms;
	transition-delay: 650ms
}

.overview .divider__progress {
	width: 100%;
	height: 100%;
	background-color: #D44A31;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-animation: progressBar 4000ms linear infinite 2500ms;
	animation: progressBar 4000ms linear infinite 2500ms
}

.our-work {
	text-align: center;
	background-color: #fff;
	padding: 100px 4px 75px;
	-webkit-transition: opacity 800ms ease-in-out;
	transition: opacity 800ms ease-in-out;
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms;
	opacity: 0
}

@media (max-width: 768px) {
	.our-work {
		padding: 50px 0 125px;
		opacity: 0
	}
}

.our-work h2 {
	text-align: center;
	margin-bottom: 55px;
	color: #36383F
}

.our-work .btn {
	margin: 0 auto
}

.our-work__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 75px
}

@media (min-width: 1600px) {
	.our-work__wrapper {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto 75px
	}
}

.project {
	display: block;
	padding: 30px;
	position: relative;
	text-align: left;
	overflow: hidden
}

@media (hover: none) {
	.project .project__info h3,
	.project .project__info p {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition-duration: 650ms;
		transition-duration: 650ms
	}
	.project .project__info .btn {
		opacity: 1;
		-webkit-transition-delay: 300ms;
		transition-delay: 300ms
	}
	.project .project__image--color {
		opacity: 0
	}
}

.project:hover .project__info h3,
.project:hover .project__info p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 650ms;
	transition-duration: 650ms
}

.project:hover .project__info .btn {
	opacity: 1;
	-webkit-transition-delay: 300ms;
	transition-delay: 300ms
}

.project:hover .project__image--color {
	opacity: 0
}

.project:nth-child(1) {
	width: calc(60% - 2px);
	height: 450px;
	margin-right: auto;
	margin-bottom: 4px
}

@media (max-width: 768px) {
	.project:nth-child(1) {
		width: 100%;
		height: 350px
	}
}

.project:nth-child(2) {
	width: calc(40% - 2px);
	height: 450px;
	margin-bottom: 4px
}

@media (max-width: 768px) {
	.project:nth-child(2) {
		width: 100%;
		height: 350px
	}
}

.project:nth-child(3) {
	width: calc(40% - 2px);
	height: 450px;
	margin-right: auto
}

@media (max-width: 768px) {
	.project:nth-child(3) {
		width: 100%;
		height: 350px;
		margin-bottom: 4px
	}
}

.project:nth-child(4) {
	width: calc(60% - 2px);
	height: 450px
}

@media (max-width: 768px) {
	.project:nth-child(4) {
		width: 100%;
		height: 350px
	}
}

.project__info {
	bottom: 30px;
	position: absolute;
	color: #fff;
	z-index: 20;
	width: calc(100% - 60px)
}

.project__info h3 {
	margin-bottom: 10px;
	opacity: 0;
	-webkit-transform: translate3d(0, 40px, 0);
	transform: translate3d(0, 40px, 0);
	-webkit-transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1)
}

.project__info p {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.5;
	width: 50%;
	margin-bottom: 25px;
	opacity: 0;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1)
}

@media (max-width: 1200px) {
	.project__info p {
		width: 80%
	}
}

.project__info .btn {
	opacity: 0;
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms
}

.project__image {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out
}

.project__image--color {
	z-index: 10
}

.project__image--grayscale {
	opacity: .2;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0
}

.our-experience {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 150px 0
}

@media (max-width: 768px) {
	.our-experience {
		padding: 75px 0
	}
}

.our-experience h2 {
	margin-bottom: 20px;
	color: #36383F
}

.our-experience p {
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 1.5;
	max-width: 600px;
	margin: 0 auto 75px;
	padding: 0 50px
}

@media (max-width: 768px) {
	.our-experience p {
		margin-bottom: 50px
	}
}

.clients {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 5%
}

.client__logo {
	padding: 30px;
	width: 18%
}

@media (max-width: 600px) {
	.client__logo {
		width: 50%;
		padding: 35px
	}
}

.client__logo img {
	max-width: 100%;
	max-height: 95px;
	opacity: .5;
	vertical-align: middle
}

.portfolio {
	width: 100%;
	height: auto;
	background-color: #FAFAFA
}

.portfolio-list {
	width: 100%;
	height: auto;
	max-width: 1250px;
	margin: 0 auto;
	list-style-type: none;
	padding: 140px 100px
}

@media (max-width: 1000px) {
	.portfolio-list {
		padding: 140px 50px
	}
}

@media (max-width: 768px) {
	.portfolio-list {
		padding: 4px
	}
}

.portfolio-item {
	width: 100%;
	height: 500px;
	display: block;
	padding: 30px;
	position: relative;
	text-align: left;
	margin-bottom: 100px;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1)
}

@media (max-width: 768px) {
	.portfolio-item {
		margin-bottom: 4px;
		height: 400px
	}
}

@media (hover: none) {
	.portfolio-item .portfolio-item__info h3,
	.portfolio-item .portfolio-item__info p {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition-duration: 650ms;
		transition-duration: 650ms
	}
	.portfolio-item .portfolio-item__info .btn {
		opacity: 1;
		-webkit-transition-delay: 300ms;
		transition-delay: 300ms
	}
	.portfolio-item .portfolio-item__image--color {
		opacity: 0
	}
}

.portfolio-item:hover .portfolio-item__info h3,
.portfolio-item:hover .portfolio-item__info p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 650ms;
	transition-duration: 650ms
}

.portfolio-item:hover .portfolio-item__info .btn {
	opacity: 1;
	-webkit-transition-delay: 300ms;
	transition-delay: 300ms
}

.portfolio-item:hover .portfolio-item__image--color {
	opacity: 0
}

.portfolio-item:last-of-type {
	margin-bottom: 0
}

.portfolio-item__info {
	bottom: 30px;
	position: absolute;
	color: #fff;
	z-index: 20;
	width: calc(100% - 60px)
}

.portfolio-item__info h3 {
	margin-bottom: 10px;
	opacity: 0;
	-webkit-transform: translate3d(0, 40px, 0);
	transform: translate3d(0, 40px, 0);
	-webkit-transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1)
}

.portfolio-item__info p {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.5;
	width: 50%;
	margin-bottom: 25px;
	opacity: 0;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1)
}

@media (max-width: 768px) {
	.portfolio-item__info p {
		width: 75%
	}
}

.portfolio-item__info .btn {
	opacity: 0;
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms
}

.portfolio-item__image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1.15);
	transform: scale(1.15)
}

.portfolio-item__image--color {
	z-index: 10;
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out
}

.portfolio-item__image--grayscale {
	opacity: .2;
	mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0
}

.case-study-hero {
	width: 100%;
	height: 85vh;
	position: relative;
	overflow: hidden
}

@media (min-height: 800px) {
	.case-study-hero {
		height: 800px
	}
}

@media (min-width: 1600px) {
	.case-study-hero {
		background-color: #FAFAFA
	}
}

@media (max-width: 768px) {
	.case-study-hero {
		height: 400px
	}
}

.case-study-hero__image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden
}

@media (min-width: 1600px) {
	.case-study-hero__image {
		max-width: 1600px;
		margin: 0 auto
	}
}

.case-study-hero__image--centered {
	height: 70vh;
	position: relative;
	background-size: contain;
	overflow: visible
}

@media (min-height: 800px) {
	.case-study-hero__image--centered {
		height: 650px
	}
}

@media (max-width: 768px) {
	.case-study-hero__image--centered {
		background-size: cover;
		height: 100%;
		overflow: hidden
	}
}

.case-study-hero__filler {
	width: 100%;
	height: 15vh;
	bottom: -15vh;
	position: absolute
}

@media (min-height: 800px) {
	.case-study-hero__filler {
		height: 150px;
		bottom: -150px
	}
}

@media (max-width: 768px) {
	.case-study-hero__filler {
		display: none
	}
}

.project-overview {
	width: 100%;
	height: auto;
	max-width: 1240px;
	padding: 65px 100px;
	margin: 0 auto;
	bottom: 15vh;
	position: relative;
	background-color: #fff;
	z-index: 100
}

@media (min-height: 800px) {
	.project-overview {
		bottom: 150px
	}
}

@media (max-width: 1000px) {
	.project-overview {
		padding: 65px 50px
	}
}

@media (max-width: 768px) {
	.project-overview {
		bottom: initial;
		padding: 65px 30px
	}
}

.project-overview p {
	width: 100%;
	max-width: 625px;
	margin: 0 auto
}

.project-overview a {
	color: #D44A31
}

.project-overview a:hover {
	color: #36383F
}

.project-overview__intro {
	text-align: center
}

.project-overview__intro:after {
	content: '';
	width: 1px;
	height: 120px;
	background-color: rgba(54, 56, 63, 0.2);
	display: block;
	opacity: 0;
	margin: 40px auto 55px;
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms
}

@media (max-width: 768px) {
	.project-overview__intro:after {
		height: 75px
	}
}

.project-overview__intro h3 {
	margin-bottom: 5px
}

.project-overview__intro h5 {
	margin: 0 auto 20px;
	width: 100%;
	max-width: 600px
}

.project-overview__intro h5:after {
	content: '';
	width: 30px;
	height: 1px;
	background-color: #d0d2d7;
	display: block;
	margin: 25px auto 0
}

.project-overview__intro p {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.6;
	letter-spacing: -.5px;
	margin-bottom: 10px;
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
	opacity: 0;
	-webkit-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out
}

@media (max-width: 768px) {
	.project-overview__intro p {
		font-size: 17px;
		font-size: 1.0625rem;
		line-height: 1.6
	}
}

.project-overview__intro p:last-of-type {
	margin-bottom: 0
}

.project-overview__section {
	margin-bottom: 150px
}

.project-overview__section:last-of-type {
	margin-bottom: 100px
}

.project-overview__info p {
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 1.4;
	margin-bottom: 20px
}

.project-overview__info--split {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	width: 80%;
	margin: 0 auto
}

@media (max-width: 1000px) {
	.project-overview__info--split {
		width: 100%
	}
}

@media (max-width: 768px) {
	.project-overview__info--split {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center
	}
}

.project-overview__info--split h4 {
	margin-right: auto
}

@media (max-width: 768px) {
	.project-overview__info--split h4 {
		margin-right: 0
	}
}

.project-overview__info--split p {
	width: 70%;
	margin: 0
}

@media (max-width: 768px) {
	.project-overview__info--split p {
		width: 100%
	}
}

.project-overview__slideshow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media (max-width: 600px) {
	.project-overview__slideshow {
		display: block;
		width: 100vw;
		left: 50%;
		position: relative;
		margin-left: -50vw
	}
}

.project-overview__slideshow img {
	max-width: calc(100% / 3)
}

@media (max-width: 600px) {
	.project-overview__slideshow img {
		padding: 0 50px 30px
	}
}

.project-overview__slideshow img:focus {
	outline: none
}

.project-overview__slideshow img:nth-of-type(1) {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2
}

@media (max-width: 600px) {
	.project-overview__slideshow img:nth-of-type(1) {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
}

.project-overview__slideshow img:nth-of-type(2) {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-transform: scale(0.85);
	transform: scale(0.85)
}

@media (max-width: 600px) {
	.project-overview__slideshow img:nth-of-type(2) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__slideshow img:nth-of-type(3) {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
	-webkit-transform: scale(0.85);
	transform: scale(0.85)
}

@media (max-width: 600px) {
	.project-overview__slideshow img:nth-of-type(3) {
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__slideshow--overlap img:nth-of-type(1) {
	-webkit-transform: scale(1.5);
	transform: scale(1.5)
}

@media (max-width: 600px) {
	.project-overview__slideshow--overlap img:nth-of-type(1) {
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__slideshow--overlap img:nth-of-type(2) {
	-webkit-transform: translateX(23px) scale(1.1);
	transform: translateX(23px) scale(1.1);
	z-index: -10
}

@media (max-width: 600px) {
	.project-overview__slideshow--overlap img:nth-of-type(2) {
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__slideshow--overlap img:nth-of-type(3) {
	-webkit-transform: translateX(-23px) scale(1.1);
	transform: translateX(-23px) scale(1.1);
	z-index: -10
}

@media (max-width: 600px) {
	.project-overview__slideshow--overlap img:nth-of-type(3) {
		-webkit-transform: none;
		transform: none
	}
}

@media (max-width: 600px) {
	.project-overview__slideshow--social img:nth-of-type(1) {
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__slideshow--social img:nth-of-type(2) {
	-webkit-transform: translateX(23px);
	transform: translateX(23px);
	z-index: -10
}

@media (max-width: 600px) {
	.project-overview__slideshow--social img:nth-of-type(2) {
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__slideshow--social img:nth-of-type(3) {
	-webkit-transform: translateX(-23px);
	transform: translateX(-23px);
	z-index: -10
}

@media (max-width: 600px) {
	.project-overview__slideshow--social img:nth-of-type(3) {
		-webkit-transform: none;
		transform: none
	}
}

.project-overview__stacked {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto
}

@media (max-width: 768px) {
	.project-overview__stacked {
		width: 90%
	}
}

@media (max-width: 600px) {
	.project-overview__stacked {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}

.project-overview__stacked img {
	width: 30%;
	height: 100%
}

@media (max-width: 600px) {
	.project-overview__stacked img {
		width: 50%;
		margin-bottom: 40px
	}
}

@media (max-width: 500px) {
	.project-overview__stacked img {
		width: 75%;
		margin-bottom: 40px
	}
}

.project-overview__grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.project-overview__grid img {
	width: calc(100% / 3);
	height: 100%;
	padding: 10px
}

@media (max-width: 768px) {
	.project-overview__grid img {
		padding: 5px
	}
}

@media (max-width: 600px) {
	.project-overview__grid img {
		width: 50%
	}
}

.project-overview__image {
	max-width: 100%;
	margin-top: 100px
}

.project-overview__image:first-of-type {
	margin-top: 0
}

.project-overview__image--half {
	max-width: 50%
}

@media (max-width: 600px) {
	.project-overview__image--half {
		max-width: 80%
	}
}

.project-overview__section--centered {
	text-align: center
}

.drop-shadow {
	-webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.15)) drop-shadow(0 15px 25px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.15)) drop-shadow(0 15px 25px rgba(0, 0, 0, 0.1))
}



@media (max-width: 768px) {
	.our-team {
		margin-bottom: 50px
	}
}

.team-member:nth-of-type(odd) {
	background-color: #FAFAFA
}

.team-member__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1030px;
	margin: 0 auto;
	width: calc(100% - 200px);
	padding: 140px 0
}

@media (max-width: 1000px) {
	.team-member__wrapper {
		width: calc(100% - 100px)
	}
}

@media (max-width: 768px) {
	.team-member__wrapper {
		width: calc(100% - 60px);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 30px 0 40px
	}
}

.team-member:nth-of-type(even) .team-member__wrapper {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

@media (max-width: 768px) {
	.team-member:nth-of-type(even) .team-member__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
}

.team-member__image {
	width: 395px;
	height: 100px;
	padding-bottom: 50%;
	background-color: #36383F;
	margin-right: 10%;
	position: relative
}

@media (max-width: 768px) {
	.team-member__image {
		width: 50%;
		height: 400px;
		margin: 0 auto 35px
	}
}

@media (max-width: 600px) {
	.team-member__image {
		width: 75%
	}
}

@media (max-width: 500px) {
	.team-member__image {
		width: 100%
	}
}

.team-member:nth-of-type(even) .team-member__image {
	margin-right: 0;
	margin-left: 10%
}

@media (max-width: 768px) {
	.team-member:nth-of-type(even) .team-member__image {
		margin: 0 auto 35px
	}
}

.team-member__image:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute
}

.team-member__info {
	width: 55%
}

@media (max-width: 768px) {
	.team-member__info {
		width: 100%;
		height: auto;
		text-align: center
	}
}

.team-member__info h1 {
	margin-bottom: 20px
}

@media (max-width: 768px) {
	.team-member__info h1 {
		margin-bottom: 25px
	}
}

@media (max-width: 600px) {
	.team-member__info h1 {
		font-size: 44px;
		font-size: 2.75rem
	}
}

.team-member__info p {
	margin-bottom: 15px
}

@media (max-width: 768px) {
	.team-member__info p {
		text-align: left
	}
}

input {
	width: 125px;
	min-width: 125px;
	max-width: 100%;
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: none;
	font-family: "ff-mark-web", "Helvetica", Arial, sans-serif;
	border-bottom: 1px solid rgba(54, 56, 63, 0.1);
	background-color: transparent;
	line-height: 1.5;
	margin: 0 5px;
	padding: 7px 0 2px;
	text-align: left;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.5;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out
}
